.slider {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.nav-loading-gif {
    width: 50px;
    position: relative;
    top: 20%;
    left: 45%;
}